{{> head }}
{{> navbar }}

<div class="row">

  <div class="col-8">
    <h1>Pagina about</h1>

  </div>

  <div class="col-8">
    <img src="assets/img/iconMinerva.jpg" class="img-thumbnail">

  </div>




</div>



{{> footer}}